html {
    background-color: #7dad71;
}

.background {
    background-image: url(https://wallpaperset.com/w/full/7/2/4/187210.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 145vh;
    width: 100%;
}

.form-pokedex{
    font-style:inherit;
    margin-left: 50%; 
    transform: translateX(-50%);
    padding-top: 23vh;
    padding-bottom: 23h;
}

.pokedex-title {
    display: inline-block; 
    padding-top: 23vh;
    padding-bottom: 23vh;
    padding-left: 35vh;
    width: 80%;
    cursor: pointer;
    transform-origin: center; 
    transition: transform 0.3s ease;
}

.pokedex-title:hover {
    transform: translate(20px, 20px); 
}

.find-Poketitle {
    width: 50vh;
    bottom: 60px;
    position: relative;
}

.container-button {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pokemon-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 48vh;
}
  
.card {
    width: 200px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    color: rgb(96, 89, 89);
}

.card-title:first-letter {
    text-transform: capitalize;
}
.form-pokedex {
    position: relative; 
    top: 40vh;
    padding: 20px;
    background-image: url("images/pokescreen.png");
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: top;
}

.form-pokedex .input-poke {
    display: block;
    background-color: #74accc;
    width: calc(100% - 40px);
    height: 36px;
    border: none;
    border-bottom: 2px solid grey;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    transition: border-color 0.3s ease-in-out;
    color: #333;
    position: relative;
    left:3%;
}

.form-pokedex .label-poke {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    font-size: 17px;
    font-weight: 600;
    color: #c0392b;
    text-transform: uppercase;
    margin-top: -30px;
}

.form-pokedex .input-poke:focus {
    outline: none;
    border-color: #c0392b;
}

.card{
    width: 15rem;
}

.card-text{
    text-align: center;
    color: white;
}

#scrollArrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;}
          
    #scrollArrow:hover {
      background-color: gray;}
          #scrollArrow::before {
              content: '\2191';
              font-size: 1.5rem;}


.modal-title{
    text-transform: capitalize;
 }

 .modal-header {
    background-color: #f44336;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.modal-title {
    font-size: 2rem;
    margin: 0;
}

.modal-body {
    padding: 20px;
}

.modal-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#pokemonModalNumber {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #777;
}

#pokemonModalDescription {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #444;
}

.modal-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

    